#contactFormDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

#formDiv{
  display: flex;
  flex-direction: column;
}


#contactInfoDiv{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

}

#contactNameDiv {
  /* margin-left: 10rem;
  margin-top: 3rem; */
}

#contactEmailDiv {
  /* margin-left: 10rem;
  margin-top: 2rem; */
  margin-top: 1rem;
}

#contactSubjectDiv {
  /* margin-left: 10rem;
  margin-top: 2rem; */
  margin-top: 1rem;
}

#contactMessageDiv {
  /* margin-left: 10rem;
  margin-top: 2rem; */
  margin-top: 1rem;
}

#contactName {
  max-width: 70rem;
  width: 95vw;
  height: 4rem;
  font-size: large;
}

#contactEmail {
  max-width: 70rem;
  width: 95vw;
  height: 4rem;
  font-size: large;
}

#contactSubject {
  max-width: 70rem;
  width: 95vw;
  height: 4rem;
  font-size: large;
}

#contactMessage {
  max-width: 70rem;
  width: 95vw;
  height: 14rem;
  font-size: large;
}

#contactSubmit {
  margin-top: 1.5rem;
  margin-bottom: 2rem;
  background-color: rgba(32, 77, 119, 255);
  color: white;
  max-width: 15rem;
  max-width: 50vw;
  height: 4rem;
}

#contactHeading {
  color: black;
  font-size: 3rem;
  font-weight: 400;
  /* margin-left: 9rem; */
}

#contactAddressH {
  /* position: absolute; */
  color: black;
  /* margin-left: 100rem; */
  /* margin-top: -1rem; */
  font-size: 3rem;
}

#contactAddress {
  /* position: absolute; */
  color: black;
  /* margin-left: 100rem; */
  /* margin-top: 4rem; */
  font-size: 2rem;
  max-width: 90vw;
}

#contactInfoH {
  /* position: absolute; */
  color: black;
  /* margin-left: 100rem; */
  /* margin-top: 10rem; */
  font-size: 3rem;
}

#conactTele {
  /* position: absolute; */
  color: black;
  /* margin-left: 100rem; */
  /* margin-top: 15rem; */
  font-size: 2rem;
}

#contactCell {
  /* position: absolute; */
  color: black;
  /* margin-left: 100rem;
  margin-top: 19rem; */
  font-size: 2rem;
}

#contactMail {
  /* position: absolute; */
  color: black;
  /* margin-left: 100rem;
  margin-top: 23rem; */
  font-size: 2rem;
  max-width: 90vw;
}
