#navBarDiv {
  max-width: 100%;
  height: 15rem;
}

#introDiv{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 1rem;
  padding: 1.2rem;
  outline: 2px solid #2e5e87;
  border-radius: 10px;
}

#introTextDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#introHeading{
  font-family: "Roboto Condensed";
  font-size: 5rem;
  color: black;
}

#introText{
  font-family: "Roboto Condensed";
  font-size: 2.8rem;
  color: black;
  max-width: 52vw;
  margin-top: -2%;
}

#partsImg{
  max-width: 40vw;

}

#bodyDiv{
  background-color: #add4f753;
  outline: 1px dotted black;
}

#productHeading{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#productHeadingText{
  font-family: "Roboto Condensed";
  font-size: 3.8rem;
  max-width: 50%;
  color: black;
}

#footer{
  display: flex;
  justify-content: center;
  height: auto;
  background-color:#2e5e87;
  width: 100%;
}

#footerCopyright{
  font-size: 1rem;
  font-weight: bold;
  color: black;
  margin-left: auto;
}

#githubLogo{
  width: 40px;
  margin-left: auto;
  cursor: pointer;
}

@media screen and (max-width: 956px){
  #introText{
    max-width: 100vw;
  }
  
}