nav {
  background-color: rgba(32,77,119,255);
  color: white;
  display: flex;
  justify-content: start; 
  align-items: center; 
  width: 151.9rem;
  padding-bottom: 2rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: 65rem;
}

li {
  margin: 0;
  font-size: 2rem;
  padding: 1rem 2rem;
  margin-right: 1rem;
  
}

a {
  color: white;
  text-decoration: none;
  padding: 8px;
}

a:hover {
  background-color: grey;
  border-radius: 100px;
}

.logo {
  margin: 2rem;
  height: 8rem; 
}

